In [1]:
import pandas as pd

In [2]:
cols = pd.read_csv("../Resources/Columns.csv")
data19 = pd.read_csv("../Resources/nhes_19_pfi_v1_0.csv")
#data16 = pd.read_csv("../Resources/nhes_16_pfi_v1_0.csv")
#data12 = pd.read_csv("../Resources/nhes_12_pfi_v1_0.csv")

In [3]:
#data19 = data19.append(data16)
#data19 = data19.append(data12)
#data19.to_csv("compiled.csv")
col_list = []

In [4]:
# Load column names to list from CSV
for col, row in cols.iteritems():
     col_list = row.values

col_list
data19.reset_index(drop=True, inplace=True)
data19

,BASMID,ALLGRADEX,EDCPUB,EDCCAT,EDCREL,EDCPRI,EDCINTK12,EDCINTCOL,EDCCOL,EDCHSFL,...,F_OWNRNTHB,F_HVINTSPHO,F_HVINTCOM,F_CHLDNT,F_LRNCOMP,F_LRNTAB,F_LRNCELL,F_SEFUTUREX,F_HHUNID,F_ZIPLOCL
0,20191000012,12,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,20191000029,4,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,20191000059,11,2,2,1,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3,20191000070,6,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
4,20191000078,9,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16441,20191225472,7,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
16442,20191225475,2,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
16443,20191225477,12,1,2,2,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
16444,20191225479,13,1,2,2,2,2,2,2,2,...,0,0,0,0,1,1,0,0,0,0
16445,20191225500,14,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Filter columns by new list
new_df = data19.filter(col_list)
len(new_df)

16446

In [6]:
# Remove rows with -1 or -9 as a value
values = [-1, -9]
grades = [5]
columns = list(new_df)
print(columns)

for col in columns:
    if (col == "SEGRADES"):
        new_df = new_df[new_df[col].isin(grades) == False]
    else:
        new_df = new_df[new_df[col].isin(values) == False]
new_df

['SEGRADES', 'CENREG', 'EDCPUB', 'EDCCAT', 'EDCREL', 'EDCPRI', 'EDCINTK12', 'EDCHSFL', 'DISTASSI', 'SCHRTSCHL', 'SCHLMAGNET', 'SEENJOY', 'SEABSNT', 'FCSCHOOL', 'FCTEACHR', 'FCSTDS', 'FHHOME', 'FHWKHRS', 'FOSTORY2X', 'FOCRAFTS', 'FOGAMES', 'FOBUILDX', 'FOSPORT', 'FORESPON', 'FOHISTX', 'FODINNERX', 'FOLIBRAYX', 'FOBOOKSTX', 'FOCONCRTX', 'FOMUSEUMX', 'FOZOOX', 'FOGROUPX', 'HHENGLISH', 'CSPEAKX', 'HHTOTALXX', 'HHPRTNRSX', 'P1REL', 'P1SEX', 'P1AGE', 'P2AGE', 'P2REL', 'P2SEX', 'P2MRSTA', 'PAR1EMPL', 'PAR1FTFY', 'PAR2FTFY', 'NUMSIBSX', 'TTLHHINC', 'OWNRNTHB', 'HVINTSPHO', 'HVINTCOM', 'INTACC', 'CHLDNT', 'LRNCOMP', 'LRNTAB', 'LRNCELL']

,SEGRADES,CENREG,EDCPUB,EDCCAT,EDCREL,EDCPRI,EDCINTK12,EDCHSFL,DISTASSI,SCHRTSCHL,...,NUMSIBSX,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL
0,1,4,1,2,2,2,2,2,1,2,...,1,8,2,1,1,1,1,1,2,1
4,1,2,1,2,2,2,2,2,1,2,...,1,10,1,1,1,1,2,1,2,2
7,1,2,1,2,2,2,2,2,1,2,...,2,3,1,1,1,1,1,1,1,1
9,1,3,1,2,2,2,2,2,2,2,...,1,11,1,1,1,1,1,1,1,2
11,2,3,1,2,2,2,2,2,2,2,...,2,3,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16438,1,1,1,2,2,2,2,2,2,2,...,1,8,1,1,1,1,1,1,1,1
16439,1,1,1,2,2,2,2,2,1,2,...,2,4,2,1,1,1,1,1,1,1
16441,1,3,1,2,2,2,2,2,1,2,...,2,9,1,1,1,1,2,1,1,1
16443,1,1,1,2,2,2,2,2,1,1,...,2,2,2,1,1,1,1,1,2,1
16445,2,2,1,2,2,2,2,2,1,2,...,1,12,1,1,1,1,1,1,1,1

In [7]:
# Check for rows with -1 as a value
count = new_df[new_df.columns[1:]].eq(-1).sum().to_frame().T
for col, row in count.iteritems():
    print(col)
    print(row.values)

CENREG
[0]
EDCPUB
[0]
EDCCAT
[0]
EDCREL
[0]
EDCPRI
[0]
EDCINTK12
[0]
EDCHSFL
[0]
DISTASSI
[0]
SCHRTSCHL
[0]
SCHLMAGNET
[0]
SEENJOY
[0]
SEABSNT
[0]
FCSCHOOL
[0]
FCTEACHR
[0]
FCSTDS
[0]
FHHOME
[0]
FHWKHRS
[0]
FOSTORY2X
[0]
FOCRAFTS
[0]
FOGAMES
[0]
FOBUILDX
[0]
FOSPORT
[0]
FORESPON
[0]
FOHISTX
[0]
FODINNERX
[0]
FOLIBRAYX
[0]
FOBOOKSTX
[0]
FOCONCRTX
[0]
FOMUSEUMX
[0]
FOZOOX
[0]
FOGROUPX
[0]
HHENGLISH
[0]
CSPEAKX
[0]
HHTOTALXX
[0]
HHPRTNRSX
[0]
P1REL
[0]
P1SEX
[0]
P1AGE
[0]
P2AGE
[0]
P2REL
[0]
P2SEX
[0]
P2MRSTA
[0]
PAR1EMPL
[0]
PAR1FTFY
[0]
PAR2FTFY
[0]
NUMSIBSX
[0]
TTLHHINC
[0]
OWNRNTHB
[0]
HVINTSPHO
[0]
HVINTCOM
[0]
INTACC
[0]
CHLDNT
[0]
LRNCOMP
[0]
LRNTAB
[0]
LRNCELL
[0]

In [8]:
print(len(new_df))

8353

In [9]:
# combine into one column for school type
def combine(row):
    if row['EDCPUB'] == 1:
        return 'EDCPUB'
    elif row['EDCCAT'] == 1:
        return 'EDCCAT'
    elif row['EDCREL'] == 1:
        return 'EDCREL'
    elif row['EDCPRI'] == 1:
        return 'EDCPRI'
    elif row['EDCINTK12'] == 1:
        return 'EDCINTK12'
    elif row['EDCHSFL'] == 1:
        return 'EDCHSFL'
    elif row['DISTASSI'] == 1:
        return 'DISTASSI'
    elif row['SCHRTSCHL'] == 1:
        return 'SCHRTSCHL'
    return 'SCHLMAGNET'

In [10]:
new_df['SCH_TYPE'] = new_df.apply(lambda row: combine(row), axis=1)

In [12]:
new_df.head(20)

,SEGRADES,CENREG,EDCPUB,EDCCAT,EDCREL,EDCPRI,EDCINTK12,EDCHSFL,DISTASSI,SCHRTSCHL,...,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL,SCH_TYPE
0,1,4,1,2,2,2,2,2,1,2,...,8,2,1,1,1,1,1,2,1,EDCPUB
4,1,2,1,2,2,2,2,2,1,2,...,10,1,1,1,1,2,1,2,2,EDCPUB
7,1,2,1,2,2,2,2,2,1,2,...,3,1,1,1,1,1,1,1,1,EDCPUB
9,1,3,1,2,2,2,2,2,2,2,...,11,1,1,1,1,1,1,1,2,EDCPUB
11,2,3,1,2,2,2,2,2,2,2,...,3,1,1,1,1,1,1,1,1,EDCPUB
12,1,1,1,2,2,2,2,2,1,2,...,10,1,1,1,1,1,1,2,1,EDCPUB
13,2,3,1,2,2,2,2,2,1,2,...,8,1,1,1,1,3,1,2,2,EDCPUB
14,2,2,1,2,2,2,2,2,1,2,...,5,2,1,2,3,2,2,2,1,EDCPUB
16,1,3,1,2,2,2,2,2,1,2,...,8,1,1,1,1,3,1,1,2,EDCPUB
19,1,2,1,2,2,2,2,2,1,2,...,7,1,1,1,1,2,1,1,2,EDCPUB
21,1,3,1,2,2,2,2,2,1,2,...,10,1,1,1,1,2,1,1,2,EDCPUB
22,2,4,1,2,2,2,2,2,1,2,...,10,1,1,1,1,1,1,2,1,EDCPUB
23,1,2,1,2,2,2,2,2,1,2,...,12,1,1,1,1,1,1,1,1,EDCPUB
26,1,4,1,2,2,2,2,2,1,2,...,8,1,1,1,1,2,1,2,2,EDCPUB
27,1,2,1,2,2,2,2,2,1,1,...,7,1,1,1,1,2,1,1,1,EDCPUB
28,1,1,1,2,2,2,2,2,1,2,...,9,1,1,1,1,1,1,1,1,EDCPUB
29,1,3,1,2,2,2,2,2,1,2,...,3,1,1,1,1,1,1,1,1,EDCPUB
30,1,2,1,2,2,2,2,2,1,2,...,8,1,1,1,1,1,1,1,1,EDCPUB
32,1,3,1,2,2,2,2,2,1,2,...,9,2,1,1,1,1,1,1,1,EDCPUB
34,1,2,1,2,2,2,2,2,2,2,...,8,1,1,1,1,1,1,1,1,EDCPUB

In [ ]:
new_df = new_df.drop(columns={"EDCPUB", "EDCHSFL", "EDCCAT", "EDCREL", "EDCPRI", "EDCINTK12", "SCHLMAGNET", "DISTASSI", "HHTOTALXX", "HHPRTNRSX", "HVINTSPHO", "HVINTCOM", "INTACC", "CHLDNT", "LRNCOMP", "LRNTAB", "LRNCELL"})
new_df.count()

In [ ]:
# Consilidate grades into pass or fail
passing = [1]
failing = range(2 , 4, 1)

print(failing)

new_df["SEGRADES"] = [0 if x in failing else 1 for x in new_df["SEGRADES"]]

# for index, row in new_df.iterrows():
#     if row[1] == passing[0]:
#         row[1] = 1
#     if row[1] in failing:
#         print(row[1])
#         print("Found")
#         row[1] = "Find"
#         print(row[1])
        
# # Consilidate P1AGE ahd P2AGE
range_1 = range(0, 20, 1)
range_2 = range(20, 40, 1)
range_3 = range(40, 60, 1)
range_4 = range(60, 80, 1)
range_5 = range(80, 100, 1)

# # P1AGE
new_df["P1AGE"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else (4 if x in range_4 else 5)))) for x in new_df["P1AGE"]]

# # P2AGE
new_df["P2AGE"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else (4 if x in range_4 else 5)))) for x in new_df["P2AGE"]]

# # Consolidate FHWKHRS
range_1 = range(0, 20, 1)
range_2 = range(20, 40, 1)
range_3 = range(40, 60, 1)
range_4 = range(60, 80, 1)

new_df["FHWKHRS"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else 4))) for x in new_df["FHWKHRS"]]

# # Consolidate FODINNERX
new_df["FODINNERX"] = [(1 if x <= 0 <= 2 else (2 if x <= 3 <= 4 else (3 if x <= 5 <= 6 else 4))) for x in new_df["FODINNERX"]]

# Consolidate absences
range_1 = range(0, 5, 1)
range_2 = range(6, 10, 1)
range_3 = range(11, 20, 1)
range_4 = range(21,180, 1)

new_df["SEABSNT"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else 4))) for x in new_df["SEABSNT"]]


new_df

In [ ]:
kept_col = []
for col in new_df.columns:
    kept_col.append(col)
kept_col

In [ ]:
new_df.reset_index(inplace=True)
new_df

In [ ]:
binary_encoded = pd.get_dummies(new_df, columns=kept_col)

In [ ]:
binary_encoded.to_csv("../Resources/nhes_merged_pfi_cleaned.csv")