In [2]:
# import dependencies
import pandas as pd
from sqlalchemy import MetaData
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

In [5]:
# read in csvs and create column list
cols = pd.read_csv("Resources/Columns.csv")
data = pd.read_csv("Resources/nhes_19_pfi_v1_0.csv")

col_list = []

In [6]:
# Load column names to list from CSV
for col, row in cols.iteritems():
    col_list = row.values

col_list

array(['SEGRADES', 'CENREG', 'EDCPUB', 'EDCCAT', 'EDCREL', 'EDCPRI',
       'EDCINTK12', 'EDCHSFL', 'DISTASSI', 'SCHRTSCHL', 'SCHLMAGNET',
       'SPBSCH', 'SOTHRSCH', 'STUTR', 'SOTHSCH', 'SEENJOY', 'SEABSNT',
       'FCSCHOOL', 'FCTEACHR', 'FCSTDS', 'FCSUPPRT', 'FHHOME', 'FHWKHRS',
       'FOSTORY2X', 'FOCRAFTS', 'FOGAMES', 'FOBUILDX', 'FOSPORT',
       'FORESPON', 'FOHISTX', 'FODINNERX', 'FOLIBRAYX', 'FOBOOKSTX',
       'FOCONCRTX', 'FOMUSEUMX', 'FOZOOX', 'FOGROUPX', 'FOSPRTEVX',
       'HHENGLISH', 'CSPEAKX', 'HHTOTALXX', 'HHPRTNRSX', 'P1REL', 'P1SEX',
       'P1MRSTA', 'P1AGE', 'P2GUARD', 'P2AGE', 'P2REL', 'P2SEX',
       'P2MRSTA', 'PAR1EMPL', 'PAR1FTFY', 'PAR2FTFY', 'NUMSIBSX',
       'TTLHHINC', 'OWNRNTHB', 'HVINTSPHO', 'HVINTCOM', 'INTACC',
       'CHLDNT', 'LRNCOMP', 'LRNTAB', 'LRNCELL'], dtype=object)

In [7]:
# Filter columns by new list
new_df = data.filter(col_list)
new_df.count()

SEGRADES    16446
CENREG      16446
EDCPUB      16446
EDCCAT      16446
EDCREL      16446
            ...
INTACC      16446
CHLDNT      16446
LRNCOMP     16446
LRNTAB      16446
LRNCELL     16446
Length: 64, dtype: int64

In [8]:
# Remove rows with -1 or -9 as a value
values = [-1, -9]
grades = [5]
columns = list(new_df)
print(columns)

for col in columns:
    if (col == "SEGRADES"):
        new_df = new_df[new_df[col].isin(grades) == False]
    else:
        new_df = new_df[new_df[col].isin(values) == False]
new_df

['SEGRADES', 'CENREG', 'EDCPUB', 'EDCCAT', 'EDCREL', 'EDCPRI', 'EDCINTK12', 'EDCHSFL', 'DISTASSI', 'SCHRTSCHL', 'SCHLMAGNET', 'SPBSCH', 'SOTHRSCH', 'STUTR', 'SOTHSCH', 'SEENJOY', 'SEABSNT', 'FCSCHOOL', 'FCTEACHR', 'FCSTDS', 'FCSUPPRT', 'FHHOME', 'FHWKHRS', 'FOSTORY2X', 'FOCRAFTS', 'FOGAMES', 'FOBUILDX', 'FOSPORT', 'FORESPON', 'FOHISTX', 'FODINNERX', 'FOLIBRAYX', 'FOBOOKSTX', 'FOCONCRTX', 'FOMUSEUMX', 'FOZOOX', 'FOGROUPX', 'FOSPRTEVX', 'HHENGLISH', 'CSPEAKX', 'HHTOTALXX', 'HHPRTNRSX', 'P1REL', 'P1SEX', 'P1MRSTA', 'P1AGE', 'P2GUARD', 'P2AGE', 'P2REL', 'P2SEX', 'P2MRSTA', 'PAR1EMPL', 'PAR1FTFY', 'PAR2FTFY', 'NUMSIBSX', 'TTLHHINC', 'OWNRNTHB', 'HVINTSPHO', 'HVINTCOM', 'INTACC', 'CHLDNT', 'LRNCOMP', 'LRNTAB', 'LRNCELL']

,SEGRADES,CENREG,EDCPUB,EDCCAT,EDCREL,EDCPRI,EDCINTK12,EDCHSFL,DISTASSI,SCHRTSCHL,...,NUMSIBSX,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL
11,2,3,1,2,2,2,2,2,2,2,...,2,3,1,1,1,1,1,1,1,1
21,1,3,1,2,2,2,2,2,1,2,...,1,10,1,1,1,1,2,1,1,2
29,1,3,1,2,2,2,2,2,1,2,...,0,3,1,1,1,1,1,1,1,1
55,1,3,1,2,2,2,2,2,2,2,...,0,8,1,1,1,1,1,1,1,2
73,1,2,1,1,2,2,2,2,1,2,...,0,10,1,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16343,1,4,1,2,2,2,2,2,2,2,...,2,3,1,1,1,1,2,1,2,2
16377,2,3,1,2,2,2,2,2,1,2,...,0,9,1,1,1,1,2,1,1,1
16417,2,4,1,2,2,2,2,2,1,2,...,1,10,1,1,1,1,1,1,2,1
16421,1,2,1,2,2,2,2,2,1,2,...,1,9,1,1,1,1,1,1,2,1
16426,1,2,1,2,2,2,2,2,1,2,...,0,10,1,1,1,1,1,1,1,1

In [9]:
# Check for rows with -1 as a value
count = new_df[new_df.columns[1:]].eq(-1).sum().to_frame().T
for col, row in count.iteritems():
    print(col)
    print(row.values)

CENREG
[0]
EDCPUB
[0]
EDCCAT
[0]
EDCREL
[0]
EDCPRI
[0]
EDCINTK12
[0]
EDCHSFL
[0]
DISTASSI
[0]
SCHRTSCHL
[0]
SCHLMAGNET
[0]
SPBSCH
[0]
SOTHRSCH
[0]
STUTR
[0]
SOTHSCH
[0]
SEENJOY
[0]
SEABSNT
[0]
FCSCHOOL
[0]
FCTEACHR
[0]
FCSTDS
[0]
FCSUPPRT
[0]
FHHOME
[0]
FHWKHRS
[0]
FOSTORY2X
[0]
FOCRAFTS
[0]
FOGAMES
[0]
FOBUILDX
[0]
FOSPORT
[0]
FORESPON
[0]
FOHISTX
[0]
FODINNERX
[0]
FOLIBRAYX
[0]
FOBOOKSTX
[0]
FOCONCRTX
[0]
FOMUSEUMX
[0]
FOZOOX
[0]
FOGROUPX
[0]
FOSPRTEVX
[0]
HHENGLISH
[0]
CSPEAKX
[0]
HHTOTALXX
[0]
HHPRTNRSX
[0]
P1REL
[0]
P1SEX
[0]
P1MRSTA
[0]
P1AGE
[0]
P2GUARD
[0]
P2AGE
[0]
P2REL
[0]
P2SEX
[0]
P2MRSTA
[0]
PAR1EMPL
[0]
PAR1FTFY
[0]
PAR2FTFY
[0]
NUMSIBSX
[0]
TTLHHINC
[0]
OWNRNTHB
[0]
HVINTSPHO
[0]
HVINTCOM
[0]
INTACC
[0]
CHLDNT
[0]
LRNCOMP
[0]
LRNTAB
[0]
LRNCELL
[0]

In [10]:
len(new_df)
new_df

,SEGRADES,CENREG,EDCPUB,EDCCAT,EDCREL,EDCPRI,EDCINTK12,EDCHSFL,DISTASSI,SCHRTSCHL,...,NUMSIBSX,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL
11,2,3,1,2,2,2,2,2,2,2,...,2,3,1,1,1,1,1,1,1,1
21,1,3,1,2,2,2,2,2,1,2,...,1,10,1,1,1,1,2,1,1,2
29,1,3,1,2,2,2,2,2,1,2,...,0,3,1,1,1,1,1,1,1,1
55,1,3,1,2,2,2,2,2,2,2,...,0,8,1,1,1,1,1,1,1,2
73,1,2,1,1,2,2,2,2,1,2,...,0,10,1,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16343,1,4,1,2,2,2,2,2,2,2,...,2,3,1,1,1,1,2,1,2,2
16377,2,3,1,2,2,2,2,2,1,2,...,0,9,1,1,1,1,2,1,1,1
16417,2,4,1,2,2,2,2,2,1,2,...,1,10,1,1,1,1,1,1,2,1
16421,1,2,1,2,2,2,2,2,1,2,...,1,9,1,1,1,1,1,1,2,1
16426,1,2,1,2,2,2,2,2,1,2,...,0,10,1,1,1,1,1,1,1,1

In [11]:
# check counts in each column
new_df.apply(lambda x: x.value_counts())

,SEGRADES,CENREG,EDCPUB,EDCCAT,EDCREL,EDCPRI,EDCINTK12,EDCHSFL,DISTASSI,SCHRTSCHL,...,NUMSIBSX,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,328.0,63.0,573.0,4.0,1.0,5.0,20.0,NaN,476.0,70.0,...,246.0,12.0,479.0,563.0,553.0,543.0,399.0,507.0,294.0,433.0
2,186.0,253.0,5.0,574.0,577.0,573.0,558.0,578.0,102.0,508.0,...,109.0,19.0,93.0,15.0,25.0,10.0,150.0,71.0,284.0,145.0
3,55.0,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,38.0,6.0,NaN,NaN,20.0,18.0,NaN,NaN,NaN
4,9.0,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,41.0,NaN,NaN,NaN,5.0,11.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# drop school types since nearly all are public school (EDCPUB)
new_df = new_df.drop(['EDCPUB', 'EDCCAT', 'EDCREL', 'EDCPRI', 'EDCINTK12', 'EDCHSFL'], axis=1)

In [13]:
# recheck counts in columns
new_df.apply(lambda x: x.value_counts())

,SEGRADES,CENREG,DISTASSI,SCHRTSCHL,SCHLMAGNET,SPBSCH,SOTHRSCH,STUTR,SOTHSCH,SEENJOY,...,NUMSIBSX,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,328.0,63.0,476.0,70.0,64.0,441.0,36.0,34.0,14.0,177.0,...,246.0,12.0,479.0,563.0,553.0,543.0,399.0,507.0,294.0,433.0
2,186.0,253.0,102.0,508.0,514.0,137.0,542.0,544.0,564.0,311.0,...,109.0,19.0,93.0,15.0,25.0,10.0,150.0,71.0,284.0,145.0
3,55.0,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,...,32.0,38.0,6.0,NaN,NaN,20.0,18.0,NaN,NaN,NaN
4,9.0,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,8.0,41.0,NaN,NaN,NaN,5.0,11.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# check value counts in Total HH income
new_df['TTLHHINC'].value_counts()

9     124
8      79
10     67
7      61
4      41
5      39
11     39
3      38
12     35
6      24
2      19
1      12
Name: TTLHHINC, dtype: int64

In [15]:
# Consolidate grades into pass or fail
passing = [1]
failing = range(2 , 4, 1)

new_df["SEGRADES"] = [0 if x in failing else 1 for x in new_df["SEGRADES"]]

# for index, row in new_df.iterrows():
#     if row[1] == passing[0]:
#         row[1] = 1
#     if row[1] in failing:
#         print(row[1])
#         print("Found")
#         row[1] = "Find"
#         print(row[1])
        
# Consolidate P1AGE ahd P2AGE
range_1 = range(15, 30, 1)
range_2 = range(30, 45, 1)
range_3 = range(45, 60, 1)
range_4 = range(60, 75, 1)
range_5 = range(75, 100, 1)

# P1AGE
new_df["P1AGE"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else (4 if x in range_4 else 5)))) for x in new_df["P1AGE"]]

# P2AGE
new_df["P2AGE"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else (4 if x in range_4 else 5)))) for x in new_df["P2AGE"]]

# Consolidate FHWKHRS
range_1 = range(0, 20, 1)
range_2 = range(20, 40, 1)
range_3 = range(40, 60, 1)
range_4 = range(60, 80, 1)

new_df["FHWKHRS"] = [(1 if x in range_1 else (2 if x in range_2 else (3 if x in range_3 else 4))) for x in new_df["FHWKHRS"]]
        
# Consolidate FODINNERX
new_df["FODINNERX"] = [(1 if x <= 0 <= 2 else (2 if x <= 3 <= 4 else (3 if x <= 5 <= 6 else 4))) for x in new_df["FODINNERX"]]

# Consolidate TTLHHINC
new_df["TTLHHINC"] = [(1 if x <= 4 else (2 if x < 9 else (3 if x < 11 else 4))) for x in new_df["TTLHHINC"]]

In [16]:
# create list of kept columns
kept_col = []
for col in new_df.columns:
    kept_col.append(col)
kept_col

['SEGRADES',
 'CENREG',
 'DISTASSI',
 'SCHRTSCHL',
 'SCHLMAGNET',
 'SPBSCH',
 'SOTHRSCH',
 'STUTR',
 'SOTHSCH',
 'SEENJOY',
 'SEABSNT',
 'FCSCHOOL',
 'FCTEACHR',
 'FCSTDS',
 'FCSUPPRT',
 'FHHOME',
 'FHWKHRS',
 'FOSTORY2X',
 'FOCRAFTS',
 'FOGAMES',
 'FOBUILDX',
 'FOSPORT',
 'FORESPON',
 'FOHISTX',
 'FODINNERX',
 'FOLIBRAYX',
 'FOBOOKSTX',
 'FOCONCRTX',
 'FOMUSEUMX',
 'FOZOOX',
 'FOGROUPX',
 'FOSPRTEVX',
 'HHENGLISH',
 'CSPEAKX',
 'HHTOTALXX',
 'HHPRTNRSX',
 'P1REL',
 'P1SEX',
 'P1MRSTA',
 'P1AGE',
 'P2GUARD',
 'P2AGE',
 'P2REL',
 'P2SEX',
 'P2MRSTA',
 'PAR1EMPL',
 'PAR1FTFY',
 'PAR2FTFY',
 'NUMSIBSX',
 'TTLHHINC',
 'OWNRNTHB',
 'HVINTSPHO',
 'HVINTCOM',
 'INTACC',
 'CHLDNT',
 'LRNCOMP',
 'LRNTAB',
 'LRNCELL']

In [17]:
# recheck value counts in columns after binning
new_df.apply(lambda x: x.value_counts())

,SEGRADES,CENREG,DISTASSI,SCHRTSCHL,SCHLMAGNET,SPBSCH,SOTHRSCH,STUTR,SOTHSCH,SEENJOY,...,NUMSIBSX,TTLHHINC,OWNRNTHB,HVINTSPHO,HVINTCOM,INTACC,CHLDNT,LRNCOMP,LRNTAB,LRNCELL
0,241.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,337.0,63.0,476.0,70.0,64.0,441.0,36.0,34.0,14.0,177.0,...,246.0,110.0,479.0,563.0,553.0,543.0,399.0,507.0,294.0,433.0
2,NaN,253.0,102.0,508.0,514.0,137.0,542.0,544.0,564.0,311.0,...,109.0,203.0,93.0,15.0,25.0,10.0,150.0,71.0,284.0,145.0
3,NaN,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,...,32.0,191.0,6.0,NaN,NaN,20.0,18.0,NaN,NaN,NaN
4,NaN,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,8.0,74.0,NaN,NaN,NaN,5.0,11.0,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# write clean dataframe to csv
#new_df.to_csv("../Resources/nhes_19_pfi_cleaned2.csv", index=False)

In [19]:
# connect to postgres database
DATABASE_URL = "postgresql://guxdnmjbofwoac:d33409f0568bac78d191dbd2511c27a1f888d857258d97a9deaf8211db08339f@ec2-3-227-15-75.compute-1.amazonaws.com:5432/da7ntdovasosdk"
engine = create_engine(DATABASE_URL, echo = False)

# write dataframe to table
new_df.to_sql("NHES_19_PFI", con=engine, if_exists='replace', index=False)