In [2]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [3]:
# read in census csv to df
census_df = pd.read_csv('Resources/census_region.csv')
census_df

   CENREG CENREG_DES
0       1  Northeast
1       2      South
2       3    Midwest
3       4       West

In [5]:
# create connection string for postgres
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Student_Success"

# create db engine
engine = create_engine(db_string)
    
# save movies df to sql table
census_df.to_sql(name='census_region', con=engine, if_exists='replace')